.wrapper{
    max-width: 1024px;
    width: 100%;
}

.img_parent{
    height: 65vh;
    width:100%;
    position: relative;
}


  .top_header{
    
    width:90%;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem; 
    margin-left: 30px;
    border-bottom: none;
  }

  hr{
      display: none;
  }


.building_section h2{
    
    font-size: 2rem;
    padding-bottom: 1rem;

}



.building_section{
    width:30%;
   margin:0px auto;
   overflow:auto;
   margin-top:3rem;
   text-align: center;
   color: white;
   clear:both;
}

#special_div{
    padding-right: 3rem;
    border-right: 0.1rem solid darkgray;
}

.gallery_div{
    padding-left: 1.7rem;
}

.building_icon{
    padding:0rem 0rem 0.8rem 0rem; 
    font-size: 3rem;
}
.building_section h2{
    font-size: 4.9rem;
}
.building_section h3{
    font-size: 1.5rem;
}

.building_section p{
    padding-top: 0rem;
    font-size: 1.2rem;
}



.building_section a{
    
    display: block;
    margin:4rem auto 2.5rem auto;
    padding:1rem;
    width:60%;
    font-size:1rem;
}

.content_section{
    width:100%;
    margin: 1.5rem auto;
}

.content_section div{
    width:100%;
    
}

.content_img{
    width:6rem;
    height:6rem;
}

.main_p{
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem 19rem 1rem 20rem;
}

.clicking{
    float:none;
    margin-bottom: 2.5rem;
}

.camera{
    float:none;
}

.sub_p{
    font-size: 0.9rem;
    padding: 0.5rem 14rem 3rem 15rem;
    color: #424949;
    text-align: center;
}

.content_section a{
    padding: 1rem 0rem;
    width: 20%;

}

.main_navbar{
    float:unset;
    display: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdown-contents{
    position: absolute;
    z-index:3;
    right:0;
    display: none;
    height:100vh;
    
}
.ficon{
    cursor:pointer;  
    position: relative;
    top:10px;
    width:100px;
    right:-8.7rem;
    color:lightgray; 
}                      

.dropdown-contents a{
    display: block;
    padding:10px;
    text-decoration: none;
    color:white;
    width: 100%;

    
}
.dropdown-contents a:hover{
    background-color:seagreen;
}
.dropdown:hover .dropdown-contents{
    display:block;
    
}

.dropdown:hover .dropdown-contents{
    position:fixed;
    height: 100vh;
    background-color: seagreen;
    width:20%;
    right:0px;
    top:0px;
}


header{
    
    clear:both;
    overflow: hidden;
    height:50px;
    width:70%;
    float:left;
}
aside{
  display: block;
  position: absolute;
    right: 140px;
    top:10px;
}

.dropdown-contents div:first-child{
    
    margin-top: 20px;
}

.dropdown-contents div{
    border-bottom: 1px solid lightgray;
}

.dropdown-contents div:last-child{
    border-bottom: none;
}

hr{
    clear:both; 
    margin:0px 30px}

    hr{
        display:block;
    }

    .main_p{
        text-align: center;
        font-size:2.5rem;
       
    }
    .sub_p{
        font-size: 1.5rem;
    }

    .content_img{
        width: 150px;
        height: 150px;

    }

    .building_section{
       top: 50%;

    }

    .top_header{
        font-size: 1.5rem;
        padding-bottom: 3rem;
    }

    .building_section a{
        font-size: 1.2rem;
    }

    .building_section{
        width: 60%;
    }
    .travel-gallery{
        width: 65%;
        margin:2rem auto;
    }

    .building_section a{
        width: 50%;
        padding:0.5rem;
    }

    .main_p{
        font-size: 2rem;
    }
    .building_section h2{
        font-size: 4rem;
    }

    

