.navbar{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.navbar a{
    color:white;
    padding:0rem;
    
}

.header_right a:last-child{
    margin-right: 0rem;
}

.building_header{
    
    background-color:rgba(39, 55, 70,0.8);
    padding:0rem;
    position:fixed;
    width:100vw;
    
}

.img_section h2{
    padding-bottom: 0rem;
}

.img_section a{
    padding:0rem;
}

.what h2{
    padding:0rem;

}

.what-sub-items{
    margin:0rem;

}

.what-items{
    flex-direction: column;
    justify-content: none;
}